YagoPF_CV.aux
YagoPF_CV.out
YagoPF_CV.pdf
YagoPF_CV.synctex.gz
YagoPF_CV_es.synctex.gz
YagoPF_CV_es.out
YagoPF_CV_es.aux
YagoPF_CV_en.synctex.gz
YagoPF_CV_en.out
YagoPF_CV_en.aux
YagoPF_CV_es.bbl
YagoPF_CV_es.blg
YagoPF_CV_es.log
YagoPF_CV_en.log
